extends header
block content   
    h1= title 


    table(class="table")
        tr
            th SID 
            th First name 
            th last name 
            th GPA
        each student in students
            tr 
                td= student.sid 
                td= student.firstName 
                td= student.lastName
                td= student.gpa
        
    form(action="/addAndUpdateStudent", method='post')
        div
            input(type="text", name="sid", placeholder="Student ID")
        div
            input(type="text", name="firstName", placeholder="Student fName")
        div
            input(type="text", name="lastName", placeholder="Student lName")
        div
            input(type="text", name="gpa", placeholder="Student GPA")
        div
            button Add